.card__btn{
    margin: auto;
    border: none;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 0.4em 1.0em;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 0.5em;
    box-shadow: 6px 4px 5px var(--color-shadow);
    transition: transform 180ms ease, box-shadow 180ms ease;
}

.card__btn:hover{
    box-shadow: 15px 7px 7px var(--color-shadow);
}




